<footer class="pt-3 mt-4 text-muted border-top">
	<div class="container">
		<div class="row">
			<div class="col">
				<p>Frédéric Petit | <i>MàJ le <span id="date"></span>.</i></p>
			</div>
			<div class="col-sm-auto">
				<p><button type="button" id="btn-toggle" class="btn btn-primary">
					<i id="icon-toggle" class="fa-solid fa-spinner"></i></button>
				</p>
			</div>
		</div>
	</div>
</footer>

<!-- JS natives -->
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl | prepend: site.url }}"></script>
<!-- JS Bootstrap -->
<script src="{{ "/assets/vendor/twbs/bootstrap/dist/js/bootstrap.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
{% if page.title == 'TSSR' %}
<!-- TSSR -->
<script src="{{ "/assets/vendor/fredericpetit/highlightjs-composer/assets/js/highlight.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
<script>hljs.highlightAll();</script>
{% endif %}
{% if page.title == 'Veille technologique' %}
<!-- Veille -->
<script src="{{ "/assets/js/feed.js" | prepend: site.baseurl | prepend: site.url }}"></script>
{% endif %}
