<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ site.baseurl }}/" title="index">fredericpetit.fr</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav me-auto mb-2 mb-md-0">
				<li class="nav-item">
					<a class="nav-link{% if page.title == 'Index' %} active{% endif %}" href="{{ site.url }}" tabindex="0" title="index">index</a>
				</li>
				<li class="nav-item">
					<a class="nav-link{% if page.permalink == '/tutoriel/' or page.categories contains 'tutoriel' %} active{% endif %}" href="{{ site.baseurl }}/tutoriel/" tabindex="1" title="Tutoriels">tutoriels</a>
				</li>
				<li class="nav-item">
					<a class="nav-link{% if page.permalink == '/note/' or page.categories contains 'note' %} active{% endif %}" href="{{ site.baseurl }}/note/" tabindex="1" title="Notes">notes</a>
				</li>
				<li class="nav-item">
					<a class="nav-link{% if page.title == 'Veille technologique' %} active{% endif %}" href="{{ site.baseurl }}/veille.html" tabindex="1" title="Veille technologique">veille</a>
				</li>
				<li class="nav-item">
					<a class="nav-link{% if page.title == 'Bug Report' %} active{% endif %}" href="{{ site.baseurl }}/bugreport.html" tabindex="1" title="Bug Report">bugreport</a>
				</li>
				<li class="nav-item">
					<a class="nav-link{% if page.permalink == '/stream/' or page.categories contains 'stream' %} active{% endif %}" href="{{ site.baseurl }}/stream/" tabindex="2" title="Stream Twitch">stream</a>
				</li>
				<li class="nav-item">
					<a class="nav-link{% if page.title == 'Contact' %} active{% endif %}" href="{{ site.baseurl }}/contact.html" tabindex="1" title="Contact">contact</a>
				</li>
			</ul>
		</div>
	</div>
</nav>