<head>
	<meta charset="utf-8">
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% if page.title %}{{ page.title | escape }}{% endif %}{% if page.title %}{{ " - " }}{% endif %}{{ site.title | escape }}</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	<!-- social -->
	<meta property="og:title" content="{% if page.title %}{{ page.title | escape }}{% endif %}{% if page.title %}{{ " - " }}{% endif %}{{ site.title | escape }}">
	<meta property="og:image" content="{{ "/assets/img/fredericpetitfr/wallpaper.png" | prepend: site.baseurl | prepend: site.url }}">
	<meta property="og:language" content="fr">
	<!-- favicon -->
	<link rel="icon" href="{{ "/assets/img/favicon.ico" | prepend: site.baseurl | prepend: site.url }}">
	<!-- CSS natives -->
	<link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl | prepend: site.url }}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
	<!-- CSS Bootstrap, Font Awesome & Ubuntu Font Family -->
	<link rel="stylesheet" href="{{ "/assets/vendor/twbs/bootstrap/dist/css/bootstrap.min.css" | prepend: site.baseurl | prepend: site.url }}">
	<link rel="stylesheet" href="{{ "/assets/vendor/fortawesome/font-awesome/css/all.min.css" | prepend: site.baseurl | prepend: site.url }}">
	<link rel="stylesheet" href="{{ "/assets/vendor/fredericpetit/ubuntu-font-composer/assets/css/font.min.css" | prepend: site.baseurl | prepend: site.url }}">
	{% if page.title == 'TSSR' %}
	<!-- TSSR -->
	<meta name="robots" content="noindex">
	<link rel="stylesheet" href="{{ "/assets/vendor/fredericpetit/highlightjs-composer/assets/css/xt256.css" | prepend: site.baseurl | prepend: site.url }}">
	{% endif %}
</head>
