/*############################
# by : fredericpetit.fr
##############################
# script : main.css
# usage : main style
############################*/

/* #################### dark mode #################### */
body {--bkg-color: #FFFFFF;}
body footer p {--text-color: #ACACAC;}
body footer a:link,
body footer a:visited {--text-color: #000000;}
/* # with preferences # */
body.dark-theme {--bkg-color: #202124;}
body.dark-theme footer p {--text-color: #FFFFFF;}
body.dark-theme footer a:link,
body.dark-theme footer a:visited {--text-color: #ACACAC;}
@media (prefers-color-scheme: dark) {
	body {--bkg-color: #202124;}
	body.light-theme {--bkg-color: #FFFFFF;}
	body.light-theme footer p {--text-color: #ACACAC;}
	body.light-theme footer a:link,
	body.light-theme footer a:visited {--text-color: #000000;}
}

/* #################### the most beautiful font #################### */
body {
	font-family: 'Ubuntu', sans-serif !important;
	background-color: var(--bkg-color) !important;
}

/* #################### reset vanilla #################### */
html, body, div {margin: 0px; padding: 0px;}
code {
	display: block !important;
	padding: 10px 10px 5px 10px !important;
	white-space: pre-wrap;       /* Since CSS 2.1 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	background-color: #F7F7F7 !important;
	border-radius: 10px;
	border: 1px solid #DDDDDD !important;
	color: #000000 !important;
	font-size: 10px;
}
code.language-plaintext {
	display: inline !important;
	padding: 5px !important;
	white-space: pre-wrap;       /* Since CSS 2.1 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	background-color: #19193d !important;
	border-radius: 0px !important;
	border: none !important;
	color: #ffffff !important;
}
a:link, a:visited, a:hover {text-decoration: none;}
img {width: 100%;}

/* #################### reset Bootstrap #################### */
nav.navbar {background-color: #101533 !important;}
nav a.navbar-brand {color: #F7C884 !important;}
nav a.navbar-brand:hover {color: #da9f60 !important;}

/* #################### main elements #################### */
/* # splash__main # */
main div#splash__main {
	padding: 50px 5px 0px 5px !important;
	color: #FFE8CF !important;
	background-color: #383E5E !important;
}
main div#splash__main h2:not(.accordion-header) {padding: 15px 0px 13px 0px !important;}
/* # cd animation # */
main div#cd {
	padding: 0px 20px 10px 20px;
	display: flex;
	align-items: center;
	text-decoration: none;
	font-size: 30px;
	font-weight: bold;
	font-family: monospace,monospace;
}
main span#cd__mark {margin-right: 5px;}
main span#cd__cursor {
	display: inline-block;
	width: 10px;
	height: 30px;
	background: #131333;
	margin-left: 5px;
	border-radius: 1px;
	animation: cursor 1s infinite;
}
/* # content # */
main div#content {
	min-height: 500px !important;
	padding: 0px 20px 20px 20px;
}
main div#content a:link:not(.not), 
main div#content a:visited:not(.not) {
	font-weight: bold;
	color: #da9f60;
	text-decoration: none;
}
main div#content a:hover:not(.not) {
	font-weight: bold;
	color: #ffe3c5;
	text-decoration: none;
}
@media only screen and (max-width: 768px) {
	main div#cd {font-size: 15px !important;}
	main span#cd__cursor {width: 6px !important; height: 15px !important;}
}
@keyframes cursor {
	0% {opacity: 0;}
	50% {opacity: 1;}
	100% {opacity: 0;}
}
main div#content h2:not(.accordion-header) {text-decoration: underline 2px;}
main div#content h2:not(.accordion-header)::before {content:"# ";}
main div#content h3 {text-decoration: underline dotted 1px;}

/* cols & rows */
/* src : https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout */
/* src : https://grafikart.fr/tutoriels/grid-css-1002 */
div.wrapper-container {
	display: grid;
	gap: 10px;
	grid-auto-rows: minmax(100px, auto);
}
@media screen and (min-width: 768px) {
	div.wrapper-container {grid-template-columns: repeat(3, 1fr);}
}
@media screen and (max-width: 768px) {
	div.wrapper-container {grid-template-columns: repeat(1, 1fr);}
}
div.wrapper-container div.live-odd,
div.wrapper-container div.live-even {
	border: 3px solid #f7c884;
	border-radius: 5px;
}
div.wrapper-container div.live-odd { background-color: #02133d; }
div.wrapper-container div.live-even { background-color: #022355; }
div.wrapper-container div.wrapper-content { padding: 10px; }
div.wrapper-container div.wrapper-content h3 { padding-top: 0px; margin-top: 0px; }
div.wrapper-container div.wrapper-content h3 a:link,
div.wrapper-container div.wrapper-content h3 a:visited { color: #ffffff; }
div.wrapper-container div.wrapper-content span.live-future::before { content: " (à venir)"; }

/* # table # */
/* main table { overflow: scroll !important; } */

/* # note # */
blockquote { 
	background-color: #101533;
	padding-left: 20px;
	box-shadow: inset 4px 0 0 0 #ffffff;
}

/* # feed # */
a.article {
	display: block;
	border: 3px solid #f7c884;
	border-radius: 5px;
	background-color: #02133d;
}
a.article:hover { border-color: #ffffff; }
a.article:link p.title { color: #da9f60 }
a.article:visited p.title { color: #f7c884 }
a.article:hover p.title, a.article p.date { color: #ffffff}
a.article p { margin-bottom: 2px !important; }
a.article i { margin-right: 8px; }

/* # twitch # */
/* source : https://philna.sh/blog/2020/03/23/responsive-twitch-embed/ */
.twitch .twitch-video {
	padding-top: 56.25%;
	position: relative;
	height: 0;
}
.twitch .twitch-video iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
}
.twitch .twitch-chat {height: 400px;}
.twitch .twitch-chat iframe {
	width: 100%;
	height: 100%;
}
@media screen and (min-width: 768px) {
	.twitch {position: relative;}
	.twitch .twitch-video {
		width: 75%;
		padding-top: 42.1875%;
	}
	.twitch .twitch-chat {
		width: 25%;
		height: auto;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
	}
}

/* # linkedin # */
div.linkedin-widget {
	border: 2px solid #0077b5;
	border-radius: 8px;
	padding: 16px;
	background-color: #ffffff;
	width: 100%;
	color: #000000;
}
div.linkedin-widget h2, 
div.linkedin-widget p { color: black !important; }
div.linkedin-widget a:link, div.linkedin-widget a:visited, div.linkedin-widget a:hover { color: #ffffff !important; }
div.linkedin-widget h2 { text-decoration : none; }
div.linkedin-widget h2::before { content:"" !important; }
div.linkedin-widget .linkedin-header {
	display: flex;
	align-items: center;
}
div.linkedin-widget .linkedin-pic {
	border-radius: 50%;
	width: 60px;
	height: 60px;
	margin-right: 15px;
}
div.linkedin-widget .linkedin-info { flex-grow: 1; }
div.linkedin-widget .linkedin-name {
	font-size: 1.5em;
	margin: 0;
}
div.linkedin-widget .linkedin-title {
	font-weight: bold;
	margin: 5px 0;
}
div.linkedin-widget .linkedin-company { color: #666; }
div.linkedin-widget .linkedin-description { margin: 10px 0; }
div.linkedin-widget .linkedin-link {
	display: inline-block;
	background-color: #0077b5;
	color: #000000 !important;
	padding: 10px 15px;
	text-decoration: none;
	border-radius: 5px;
	text-align: center;
}
div.linkedin-widget .linkedin-link:hover { background-color: #005582; }

/* # footer # */
body footer p { color: var(--text-color) !important; }
body footer a:link, 
body footer a:visited { color: var(--text-color) !important; }