---
title: Index
title_page: Bienvenue !

permalink: /
layout: default
---

<h2>Qui suis-je ?</h2>

<div class="linkedin-widget">
	<div class="linkedin-header">
		<img src="/assets/img/fredericpetitfr/linkedin.jpg" alt="Photo de profil" class="linkedin-pic">
		<div class="linkedin-info">
			<h2 class="linkedin-name">Frédéric Petit</h2>
			<p class="linkedin-title">Administrateur Infrastructures Sécurisées - Systèmes & Réseaux</p>
			<p class="linkedin-company">- actuellement en formation -</p>
		</div>
	</div>
	<p class="linkedin-description">Spécialiste de veille sur GNU/Linux & BSD à travers le projet <b>Distro Tracker,</b> développeur de modules PowerShell dédiés à la gestion Active Directory, mainteneur et traducteur sur divers projets.</p>
	<p class="linkedin-description">Compétent et diplômé en support/assistance utilisateur, maintenance/gestion/administration de parc informatique clients/serveurs, développement - j'exerce dans le secteur Amiens / Laon / Soissons / Reims.</p>
	<a href="https://fr.linkedin.com/in/fredericpetit" class="btn btn-primary" target="_blank">
		<i class="fab fa-linkedin"></i> Voir mon profil LinkedIn
	</a>
</div>

<h2>Intérêts.</h2>
<p>Voici les domaines de l'informatique auxquels je m'intéresse :</p>
<ul>
	<li>l'indépendance technologique des entreprises, et la problématique de la souveraineté numérique</li>
	<li>l'expression démocratique : signalements citoyens, budgets participatifs ...</li>
	<li>le respect des licences, aussi bien purement logicielles que celles liées au droit d'auteur des artistes</li>
	<li>les technologies multi-plateformes (Node.js, Apache Cordova, Flutter ...)</li>
	<li>les plateformes ARM type Raspberry</li>
	<li>les technologies de déploiement réseau (pxe/ipxe)</li>
	<li>les plateformes de téléassistance (Rustdesk)</li>
</ul>

<h2>Compétences.</h2>
<ul>
	<li>gestion d'annuaire LDAP (Active Directory de Microsoft, OpenLDAP, etc ...)</li>
	<li>gestion de parc informatique (déploiements (i)PXE et mises à jours centralisées avec WDS/MDT, WSUS, WAPT, Chocolatey, FOG, aptly, etc ...)</li>
	<li>languages de programmation PHP, Javascript & Python</li>
	<li>languages de balisage HTML & CSS</li>
	<li>scripting Bash & PowerShell</li>
	<li>gestion de bases de données SQL (CLI & UI)</li>
</ul>

<h2>Créations numériques.</h2>
<div class="d-flex flex-column flex-md-row align-items-center justify-content-center">
	<div class="list-group">
		<a target="_blank" href="https://distrotracker.com" class="not list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
			<img src="{{ "/assets/img/fredericpetitfr/distro-tracker.png" | prepend: site.baseurl | prepend: site.url }}" alt="distro-tracker" style="width: 32px !important; height: 32px !important;" class="rounded-circle flex-shrink-0">
			<div class="d-flex gap-2 w-100 justify-content-between">
				<div>
					<h6 class="mb-0"><b>Distro Tracker</b> (développeur)</h6>
					<p class="mb-0 opacity-75">Se tenir au courant des sorties des versions stables de <b>distributions GNU/Linux & BSD</b>.</p>
					<p class="mb-0 opacity-75">Disponible en <b>script source</b>, <b>binaire</b>, paquets <b>Debian</b>, <b>Snapcraft</b> <b>(+50 téléchargements)</b> & <b>Flatpak</b>, sous licence GNU GPL 3.0.</p>
				</div>
				<small class="opacity-50 text-nowrap">v 1.1.1</small>
			</div>
		</a>
		<a target="_blank" href="https://gitlab.com/fredericpetit/ad-computer-range" class="not list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
			<img src="{{ "/assets/img/fredericpetitfr/find.png" | prepend: site.baseurl | prepend: site.url }}" alt="adcomputerrange" style="width: 32px !important; height: 32px !important;" class="rounded-circle flex-shrink-0">
			<div class="d-flex gap-2 w-100 justify-content-between">
				<div>
					<h6 class="mb-0">module PowerShell <b>ADComputerRange</b> (développeur)</h6>
					<p class="mb-0 opacity-75">Interroge l'état de plusieurs machines selon un pattern de nommage grâce à l'invention de la commande <i>Get-ADComputerRange</i>.</p>
					<p class="mb-0 opacity-75">Disponible sur la <b>PowerShell Gallery</b> officielle <b>(+50 téléchargements)</b> sous licence MIT.</p>
				</div>
				<small class="opacity-50 text-nowrap">v 0.0.3</small>
			</div>
		</a>
		<a target="_blank" href="https://gitlab.com/fredericpetit/self" class="not list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
			<img src="{{ "/assets/img/fredericpetitfr/emblem-bee.png" | prepend: site.baseurl | prepend: site.url }}" alt="self" style="width: 32px !important; height: 32px !important;" class="rounded-circle flex-shrink-0">
			<div class="d-flex gap-2 w-100 justify-content-between">
				<div>
					<h6 class="mb-0">dépôt GIT <b>Self</b> (développeur)</h6>
					<p class="mb-0 opacity-75">univers Distro Tracker :</p>
					<ul>
						<li>distro-reporter : analyser les données récoltées par Distro Tracker.</li>
						<li>distro-publisher : publier les rapports générés par Distro Reporter sur Facebook, Jekyll, etc ...</li>
						<li>distro-converter : convertir les données récoltées par Distro Tracker vers les formats Markdown, HTML, CSV, JSON ou YAML.</li>
					</ul>
					<p class="mb-0 opacity-75">collection diverse de petits utilitaires en Bash, PowerShell & Python :</p>
					<ul>
						<li>tux-widget : skin pour Conky & DesktopInfo, deux moniteurs système graphique.</li>
						<li>out2tag : rediriger la sortie d'une commande vers un bloc de citation.</li>
						<li>join-files : joindre le contenu de plusieurs fichiers en un seul.</li>
						<li>gen-man : générer de la documentation.</li>
						<li>gen-changelog : générer des changelogs pour du packaging.</li>
						<li>svg2png : convertir des fichiers au format SVG vers le format PNG à l'aide d’outils pré-définis (inkscape ou imagemagick actuellement).</li>
					</ul>
					<p class="mb-0 opacity-75">Disponibles en format binaire exécutable sous licence GPL-3.0-or-later.</p>
				</div>
			</div>
		</a>
		<a target="_blank" href="https://gitlab.com/fredericpetit/highlightjs-composer" class="not list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
			<img src="{{ "/assets/img/fredericpetitfr/9039821.png" | prepend: site.baseurl | prepend: site.url }}" alt="highlightjs" style="width: 32px !important; height: 32px !important;" class="rounded-circle flex-shrink-0">
			<div class="d-flex gap-2 w-100 justify-content-between">
				<div>
					<h6 class="mb-0">dépôt GIT automatisé <b>highlight.js</b> (mainteneur)</h6>
					<p class="mb-0 opacity-75">Rend le surligneur de syntaxe <b>highlight.js</b> disponible dans le gestionnaire de dépendances Composer.</p>
				</div>
				<small class="opacity-50 text-nowrap">miroir</small>
			</div>
		</a>
		<a target="_blank" href="https://gitlab.com/fredericpetit/ubuntu-font-composer" class="not list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
			<img src="{{ "/assets/img/fredericpetitfr/Ubuntu_Title_sample.png" | prepend: site.baseurl | prepend: site.url }}" alt="ubuntu-font" style="width: 32px !important; height: 32px !important;" class="rounded-circle flex-shrink-0">
			<div class="d-flex gap-2 w-100 justify-content-between">
				<div>
					<h6 class="mb-0">dépôt GIT automatisé <b>Ubuntu font</b> (mainteneur)</h6>
					<p class="mb-0 opacity-75">Rend la police d'écriture <b>Ubuntu font</b> disponible dans le gestionnaire de dépendances Composer.</p>
				</div>
				<small class="opacity-50 text-nowrap">miroir</small>
			</div>
		</a>
		<a target="_blank" href="https://gitlab.com/fredericpetit/gorilla-icon-composer" class="not list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
			<img src="{{ "/assets/img/fredericpetitfr/distributor-logo.png" | prepend: site.baseurl | prepend: site.url }}" alt="gorilla-icon" style="width: 32px !important; height: 32px !important;" class="rounded-circle flex-shrink-0">
			<div class="d-flex gap-2 w-100 justify-content-between">
				<div>
					<h6 class="mb-0">dépôt GIT automatisé <b>Gorilla icon</b> (mainteneur)</h6>
					<p class="mb-0 opacity-75">Rend le set d'icônes <b>Gorilla icon</b> disponible dans le gestionnaire de dépendances Composer.</p>
				</div>
				<small class="opacity-50 text-nowrap">miroir</small>
			</div>
		</a>
		<a target="_blank" href="https://gitlab.com/fredericpetit/nautilus-open-any-terminal-fr" class="not list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
			<img src="{{ "/assets/img/fredericpetitfr/Flag_of_France__1794_1815__1830_1974_.svg.png" | prepend: site.baseurl | prepend: site.url }}" alt="nautilus-open-any-terminal-fr" style="width: 32px !important; height: 32px !important;" class="rounded-circle flex-shrink-0">
			<div class="d-flex gap-2 w-100 justify-content-between">
				<div>
					<h6 class="mb-0">langue française pour <b>Nautilus Open Any Terminal</b> (traducteur)</h6>
					<p class="mb-0 opacity-75">Traduction d'un module Python pour le gestionnaire de fichiers Nautilus créant un menu contextuel d'ouverture dans différents terminaux.</p>
				</div>
			</div>
		</a>

	</div>
</div>
<p style="margin-top: 12px;">en cours de réécriture :</p>
<ul>
	<li><a target="_blank" href="https://gitlab.com/fredericpetit/overdeploy" title="OverDeploy">OverDeploy</a>, script de personnalisation Bash/PowerShell pour GNU/Linux et Microsoft Windows, alimenté par des données au format JSON (exemples disponibles : "FredOS").</li>
	<li>Maintien du paquet de la librairie Javascript <a target="_blank" href="https://packagist.org/packages/fredericpetit/jsdifflib-legacy" title="JSdifflib Legacy">JSdifflib Legacy</a> dans le répertoire principal du gestionnaire Composer.</li>
</ul>

<h2>Activités associatives numériques.</h2>
<ul>
	<li>Fondateur de l'<a target="_blank" href="https://www.facebook.com/arbre.chats.picardie" title="Association l'Arbre à Chats - Picardie">Association l'Arbre à Chats - Picardie</a>.</li>
	<li>Fondateur de <a target="_blank" href="https://www.facebook.com/laon.citoyens.vigilants" title="Laon - Citoyens Vigilants">Laon - Citoyens Vigilants</a>.</li>
</ul>

<h2>Licences & Crédits.</h2>
<ul>
	<li><b>fredericpetit.fr</b> : icon & wallpaper adaptés de <a target="_blank" href="https://emojiterra.com/green-heart/" title="https://emojiterra.com/green-heart/">https://emojiterra.com/green-heart/</a>, tout autre contenu sous licence Attribution-ShareAlike 4.0 International (CC BY-SA 4.0) sauf mentions contraires.</li>
</ul>

<h2>Politique de confidentialité.</h2>
<p>Aucune donnée n'est récoltée spécifiquement pour ce site hébergé sur les services de Gitlab.org (consultez leur propre politique de confidentialité liées aux éventuelles données - adresse IP, horodatage et navigateur par exemple - récoltées pour leurs besoins).</p>