---
title: Notes
title_page: Notes

permalink: /note/
layout: default
---

<h2>Liste des Notes.</h2>
<div class="wrapper-container">
	{% for post in site.categories.note %}
	<div class="{% cycle 'live-odd', 'live-even' %}">
		<div class="wrapper-content">
			<h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
			<p><span class="badge bg-primary rounded-pill">{{ post.date | localize: '%-d %B %Y - %H:%M' }}</span></p>
		</div>
	</div>
	{% endfor %}
</div>