---
title: Stream Twitch
title_page: Stream Twitch

permalink: /stream/
layout: default
---

<p>Ceci est une chaîne Twitch de veille technologique et de débats autour de l'informatique. Pas d'horaires vraiment définis pour le moment. Attention, je ne dispense pas de support utilisateur particulier/entreprise sur ma chaîne Twitch !</p>

<h2>Live Player.</h2>
<div class="twitch">
	<div class="twitch-video"><iframe src="https://player.twitch.tv/?channel=localhosthd&parent=fredericpetit.fr&autoplay=false" frameborder="0" scrolling="no" allowfullscreen="true" height="100%" width="100%">
		</iframe></div>
	<div class="twitch-chat"><iframe frameborder="0" scrolling="no" src="https://www.twitch.tv/embed/localhosthd/chat?parent=fredericpetit.fr" height="100%" width="100%">
		</iframe></div>
</div>

<h2>Liste des Streams diffusés ou à venir.</h2>
<div class="wrapper-container">
	{% for post in site.categories.stream %}
	<div class="{% cycle 'live-odd', 'live-even' %}">
		<div class="wrapper-content">
			<h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}<span data-date="{{ post.date | date: '%Y%m%d' }}"> (à venir)</span></a></h3>
			<!--<p>catégorie {{ post.categories }}</p>-->
			<p><span class="badge bg-primary rounded-pill">{{ post.date | localize: '%-d %B %Y - %H:%M' }}</span></p>
		</div>
	</div>
	{% endfor %}
</div>

<h2>Abonnement RSS.</h2>
<ul>
	<li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">flux format XML</a></li>
</ul>