---
title: TSSR
title_page: TSSR

permalink: /tssr.html
layout: default
---

<h2>Versions intégrales des scripts présentés dans mon Dossier Professionnel TSSR 2023/2024 - cliquer pour développer le code :</h2>

<div class="accordion">
<div class="accordion-item">
	<h2 class="accordion-header">
		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">1) Script complet "Convert_AD_To_NTFS.ps1" : calquer de manière automatisée les droits NTFS de tous les sous-répertoires d'un répertoire partagé sur l'arborescence des groupes d'un Active Directory.</button>
	</h2>
	<div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
	<div class="accordion-body">
<pre><code class="language-powershell" style="background-color: #000000 !important; color: #FFFFFF !important;">
#  ___________________________________________________
# |                                                   | #
# |               Convert_AD_To_NTFS.ps1              | #
# |___________________________________________________| #



# ==================================== #
#          PARAMÈTRES (appel)          #
#
#	DESCRIPTION : paramètres d'appel du script.

Param (
	[string]$PATH,
	[string]$MODE,
	[string]$DATA,
	[string[]]$SUPERGROUP,
	[string]$HELP
)



# ============================= #
#          APPLICATION          #
#
#	DESCRIPTION : tout ce qui définit l'APP.

$APP = @{};
$APP["NAME"] = "Convert_AD_To_NTFS";
$APP["DESCRIPTION"] = "EXTRAIT DES INFORMATIONS D'ACTIVE DIRECTORY POUR AUTOMATISER LA CRÉATION ET LA GESTION DES DROITS DES RÉPERTOIRES PARTAGÉS NÉCESSAIRES AUX GROUPES D'UTILISATEURS. UN PREMIER FICHIER CSV BRUT EST DIRECTEMENT EXTRAIT DE L'AD, UN DEUXIÈME FICHIER CSV EST CONSTRUIT À PARTIR DU SCRIPT.";
$APP["VERSION"] = "1.0";
$APP["AUTHOR"] = "Frédéric Petit <contact@fredericpetit.fr>";
$APP["LICENSE"] = "CC BY-SA 4.0";



# ======================== #
#           USAGE          #
#
#	DESCRIPTION : comment utiliser l'APP.

function usage() {
Write-Host "

SYNOPSIS
	$($APP.NAME) - $($APP.DESCRIPTION)

REQUIREMENTS
	- local root right
	- PowerShell 5+
	- NuGet PowerShell provider
	- NTFSSecurity PowerShell module

EXAMPLE
	.\Convert_AD_To_NTFS.ps1 -PATH C:\repertoires -MODE production -DATA rebuild -SUPERGROUP Resp,Resp-Adj,Agt,Enc,Enq

PARAMETERS
	-PATH
		Chemin dans lequel effectuer le partage général.
	-MODE
		Extraire les données de l'Active Directory ou effectuer un test à blanc.
	-DATA
		Recharger toutes les données.
	-SUPERGROUP
		Tableau indicé de groupes auxquels donner les droits NTFS maximums.

OPTIONS
	-HELP
		Affiche le man.

SOURCES
	x

METADATA
	Author : $($APP.AUTHOR)
	Version : $($APP.VERSION)
	License : $($APP.LICENSE)

"
}



# =============================== #
#          CONFIGURATION          #
#
#	DESCRIPTION : tout ce qui configure l'APP.

$CONF = @{};
$CONF["PATH"] = "$PSScriptRoot";
$CONF["PATH_FILE"] = "Convert_AD_To_NTFS";
#$CONF["OU_PATH"] = "OU=Utilisateurs,OU=110202-CPAM Aisne,OU=Assurance Maladie,DC=cnamts,DC=local";
#$CONF["OU_NAME"] = "CNAMTS\ADN-UTILISATEURS-110202";
$CONF["OU_PATH"] = "OU=test,DC=global,DC=intra";
$CONF["OU_NAME"] = "GLOBAL\test";
$CONF["SHARE_NAME"] = "AD";
$CONF["SHARE_DRIVE"] = "A";
$CONF["SHARE_NETWORK"] = "\\srv-ldap1.global.intra\$($CONF.SHARE_NAME)";



# ======================================== #
#          PARAMÈTRES (variables)          #
#
#	DESCRIPTION : mise en tableau des paramètres d'appel du script.

$PARAM = @{};
[string]$PARAM["PATH_SHARE"] = $PATH;
[string]$PARAM["MODE"] = $MODE;
[string]$PARAM["DATA"] = $DATA;
[string[]]$PARAM["SUPERGROUP"] = $SUPERGROUP;
[string]$PARAM["HELP"] = $HELP;



# ========================= #
#          DEFAULT          #
#
#	DESCRIPTION : tout ce qui définit par défaut des paramètres de l'APP.

$DEFAULT = @{};
[string]$DEFAULT["PATH_SHARE"] = "$($CONF.PATH)\repertoires";
[string]$DEFAULT["MODE"] = "production";
[string]$DEFAULT["DATA"] = "rebuild";
$DEFAULT["SUPERGROUP"] = @("Resp","Resp-Adj","Agt","Enc","Enq");


# ========================= #
#          CONTROL          #
#
#	DESCRIPTION : tout ce qui contrôle des arrêts d'instruction dans l'APP.

$CTRL = @{};
[string]$CTRL["SUPERGROUP"] = "continue";



# =========================== #
#          FUNCTIONS          #

# Test-Root()
#	DESCRIPTION : test des bons droits d'exécution de l'APP.
function Test-Root() {
	[Security.Principal.WindowsIdentity]::GetCurrent().Groups -contains 'S-1-5-32-544';
}



# ======================= #
#          APPEL          #
#
# DESCRIPTION : commence les appels d'instructions par l'APP.

Clear-Host;
Write-Host "";

# Test : valeurs par défaut.
If (!$($PARAM.PATH_SHARE)) { [string]$PARAM["PATH_SHARE"] = $($DEFAULT.PATH_SHARE); }
If (!$($PARAM.MODE)) { [string]$PARAM["MODE"] = $($DEFAULT.MODE); }
If (!$($PARAM.DATA)) { [string]$PARAM["DATA"] = $($DEFAULT.DATA); }
If (!$($PARAM.SUPERGROUP)) { $PARAM["SUPERGROUP"] = $($DEFAULT.SUPERGROUP); }

# Test : root.
If (!(Test-Root)) { Write-Error " root error."; Exit 1; }

# Test : man.
If ($($PARAM.HELP)) { usage; Exit 0; }

# Prérequis : fournisseur NuGet et module NTFSSecurity.
If (!(Get-PackageProvider -ListAvailable -Name "NuGet")) { Install-PackageProvider -Name "NuGet" -Force; }
If (!(Get-Module -ListAvailable -Name "NTFSSecurity")) { Install-Module -Name "NTFSSecurity" -Force; }

# Test : rebuild DATA.
If ($($PARAM.DATA) -eq "rebuild") {
	Remove-Item -Path "$($CONF.PATH)\$($CONF.PATH_FILE)1.csv" -Force -ErrorAction "SilentlyContinue";
	Remove-Item -Path "$($CONF.PATH)\$($CONF.PATH_FILE)2.csv" -Force -ErrorAction "SilentlyContinue";
	Remove-Item -Path "$($PARAM.PATH_SHARE)" -Force -Recurse -ErrorAction "SilentlyContinue";
	New-Item -ItemType "Directory" -Path "$($PARAM.PATH_SHARE)" | Out-Null;
}

# Test : fichier CSV 1 (informations brutes) à créer.
If (-Not (Test-Path "$($CONF.PATH)\$($CONF.PATH_FILE)1.csv")) {
	Write-Warning " fichier CSV 1 absent, création par extraction...";
	New-Item -ItemType "File" -Path "$($CONF.PATH)" -Name "$($CONF.PATH_FILE)1.csv" -Value "" | Out-Null;
}
# Test : fichier CSV 1 (informations brutes) à regénérer.
If (!(Get-Content "$($CONF.PATH)\$($CONF.PATH_FILE)1.csv")) {
	Get-ADGroup -Filter "Name -Like 'G110202-Org*'" -SearchBase "$($CONF.OU_PATH)" -Properties * | Select-Object Name,Description | Export-Csv -Path "$($CONF.PATH)\$($CONF.PATH_FILE)1.csv" -delimiter ";" -NoTypeInformation -Encoding "UTF8";
}
$CSV_Groups_Source = Import-Csv -Path "$($CONF.PATH)\$($CONF.PATH_FILE)1.csv" -Delimiter ";";

# Test : fichier CSV 2 (construction) à créer.
If (-Not (Test-Path "$($CONF.PATH)\$($CONF.PATH_FILE)2.csv")) {
	Write-Warning " fichier CSV 2 absent, initialisation pour contrôle ...";
	New-Item -ItemType "File" -Path "$($CONF.PATH)" -Name "$($CONF.PATH_FILE)2.csv" -Value "`"Name`";`"MainPath`";`"CountParentPath`";`"ParentPath`";`"CountMember`";`"MemberUser`";`"MemberGroup`"`n" | Out-Null;
} Else {
	Set-Content -Path "$($CONF.PATH)\$($CONF.PATH_FILE)2.csv" -Value "`"Name`";`"MainPath`";`"CountParentPath`";`"ParentPath`";`"CountMember`";`"MemberUser`";`"MemberGroup`"";
}
$CSV_Groups_Result = "";

If ($($PARAM.MODE) -ne "debug") {
	# Test : création du partage principal.
	If (-Not (Get-SmbShare -Name "$($CONF.SHARE_NAME)" -ErrorAction "SilentlyContinue")) {
		$FolderShareParams = @{
			Name = $($CONF.SHARE_NAME)
			Path = $($PARAM.PATH_SHARE)
			FullAccess = $($CONF.OU_NAME)
		}
		New-SmbShare @FolderShareParams | Out-Null;
		New-PSDrive -Name "$($CONF.SHARE_DRIVE)" -Root "$($CONF.SHARE_NETWORK)" -PSProvider "FileSystem" -Persist | Out-Null;
	}
}

# Boucle : parcourir tous les groupes extraits de l'AD et membres de l'OU renseignée.
$CSV_Groups_Source | ForEach-Object {
	# Faire les comptes (pour contrôle).
	$GroupName = $_.Name;
	If ($($PARAM.MODE) -ne "debug") {
		$MemberList = Get-ADGroupMember -Identity $GroupName;
		$CountMember = (Get-ADGroupMember -Identity $GroupName).Count;
	} Else {
		$MemberList = "test";
		$CountMember = 5;
	}
	# Création du répertoire de partage du groupe.
	$FolderName = $GroupName.Replace("G110202-Org  ", "").Replace("G110202-Org ", "").Replace("  ", " ").Replace("Resp", "@Resp").Split(" ");
	$FolderPath = $FolderName -Join "\";
	Write-Host "`n======================";
	Write-Host " traitement : groupe $FolderName." -ForegroundColor "DarkCyan";
	$CountParents = $FolderName.Split(" ").Count -1;
	# Test : répertoires parents à traiter.
	If ($CountParents -gt 0) {
		Write-Host "  - répertoire principal (+ $CountParents répertoire(s) parent(s)) à traiter :"
	} Else {
		Write-Host "  - répertoire principal (pas de répertoire parent) à traiter :"
	}
	# Test : répertoire à créer.
	If (-Not (Test-Path "$($PARAM.PATH_SHARE)\$FolderPath")) {
		New-Item -ItemType "Directory" -Path "$($PARAM.PATH_SHARE)\$FolderPath" | Out-Null;
	}
	# RAZ de la liste des répertoires parents
	$ListParents = @();
	$FinalListParents = "";

	# =============================== #
	# =============================== #



	# Lister tous les chemins nécessaires afin de régler les droits comme suit :
	#	- droits de lecture sur tous les répertoires parents pour le groupe en cours de traitement
	#	- droits de lecture sur le répertoire principal du groupe en cours de traitement si celui-ci n'est pas un 'supergroup'
	#	- droits d'écriture sur le répertoire principal du groupe en cours de traitement si celui-ci est un 'supergroup'

	# Boucle : portée définie suivant le nombre de répertoires parents au répertoire principal du groupe.
	For ($i=0; $i -lt $($CountParents +2); $i++)  {
		# Construction du répertoire de travail, reprenant l'arborescence de l'Active Directory.
		$ParentPath = $($FolderName) | Select-Object -First "$i";
		# Tests : répertoire racine OU répertoire parent OU répertoire principal du groupe.
		If ($i -eq 0) {
			Add-NTFSAccess -Path "$($PARAM.PATH_SHARE)\$($ParentPath -Join "\")" -Account "$GroupName" -AccessRights "Read" -AppliesTo "ThisFolderOnly";
			Write-Host "   - répertoire racine : '$($PARAM.PATH_SHARE)\$($ParentPath -Join "\")'.";
		} ElseIf ($i -le $CountParents) {
			Write-Host "   - répertoire parent $i : '$($PARAM.PATH_SHARE)\$($ParentPath -Join "\")'.";
			$ListParents += "\$($ParentPath -Join "\")";
			# Fixation du droit NTFS minimum, sans héritage.
			Add-NTFSAccess -Path "$($PARAM.PATH_SHARE)\$($ParentPath -Join "\")" -Account "$GroupName" -AccessRights "Read" -AppliesTo "ThisFolderOnly";
		} Else {
			# RAZ du contrôle d'accès maximum ou minimum.
			$CTRL["SUPERGROUP"] = "continue";
			# Boucle : pour chaque élément du tableau indicé de groupes pour lesquels on souhaite accorder les droits NTFS maximums
			# Ici on utilise Foreach plutôt que Foreach-Object, car ce dernier attend une "collection" en entrée de commande,
			# tandis que Foreach est une instruction d’itération.
			ForEach ($SUPERGROUP in $($PARAM.SUPERGROUP)) { If ($GroupName -Like "*$SUPERGROUP") { $CTRL["SUPERGROUP"] = "stop"; Break; } }
			# Test : fixation du droit NTFS minimum ou maximum selon le statut du groupe, sans héritage.
			If ($($CTRL.SUPERGROUP) -eq "continue") {
				Add-NTFSAccess -Path "$($PARAM.PATH_SHARE)\$($ParentPath -Join "\")" -Account "$GroupName" -AccessRights "Read" -AppliesTo "ThisFolderOnly";
			} Else {
				Add-NTFSAccess -Path "$($PARAM.PATH_SHARE)\$($ParentPath -Join "\")" -Account "$GroupName" -AccessRights "Modify" -AppliesTo "ThisFolderOnly";
			}
			Write-Host "   - répertoire principal (droit $(If ($($CTRL.SUPERGROUP) -ne 'stop') { 'minimum' } Else { 'maximum' }): '$($PARAM.PATH_SHARE)\$($ParentPath -Join "\")'." -ForegroundColor $(If ($($CTRL.SUPERGROUP) -ne "stop") { "Yellow" } Else { "Green" });
		}
	}



	# =============================== #
	# =============================== #

	$FinalListParents = $ListParents -Join ",";
	# Test : contrôler s'il y a des membres du groupe à afficher.
	If ($MemberList -ne $null) {
		Write-Host "   - utilisateurs et groupes :";
		# RAZ de la liste des membres de chaque groupe.
		$ListUserName = @();
		$FinalListUserName = "";
		$ListGroupName = @();
		$FinalListGroupName = "";
		# Boucle : chaque membre du groupe traité en cours, pour séparation entre utilisateurs ou sous-groupe.
		ForEach ($Member in $MemberList) {
			# Test : préparation des futures listes d'utilisateurs et de groupes.
			If ($($PARAM.MODE) -ne "debug") {
				$TestUserName = Get-ADUser -Filter "DistinguishedName -eq '$Member'" | Select-Object Name;
				$TestGroupName = Get-ADGroup -Filter "DistinguishedName -eq '$Member'" | Select-Object Name;
			} Else {
				$TestUserName = "test";
				$TestGroupName = "test";
			}
			# Tests : utilisateur ou groupe imbriqué.
			If ($TestUserName -ne $null) {
				$TestUserName | ForEach-Object { Write-Host "    - utilisateur $($_.Name)"; $ListUserName += "$($_.Name)"; }
			} ElseIf ($TestGroupName -ne $null) {
				$TestGroupName | ForEach-Object { Write-Host "    - sous-groupe $($_.Name)"; $ListGroupName += "$($_.Name)"; }
			}
		}
		# Construction d'une nouvelle ligne à ajouter au nouveau fichier CSV.
		$FinalListUserName = $ListUserName -Join ", ";
		$FinalListGroupName = $ListGroupName -Join ", ";
		$CSV_Groups_Result = "`"$FolderName`";`"\$FolderPath`";`"$CountParents`";`"$FinalListParents`";`"$CountMember`";`"$FinalListUserName`";`"$FinalListGroupName`"";
		#Write-Host " $($PARAM.PATH_SHARE)\$FolderPath traité.";
		$CSV_Groups_Result | Add-Content -Path "$($CONF.PATH)\$($CONF.PATH_FILE)2.csv";
	} Else {
		$CSV_Groups_Result = "`"$FolderName`";`"\$FolderPath`";`"$CountParents`";`"$FinalListParents`";`"$CountMember`";;";
		#Write-Host " $($PARAM.PATH_SHARE)\$FolderPath traité.";
		$CSV_Groups_Result | Add-Content -Path "$($CONF.PATH)\$($CONF.PATH_FILE)2.csv";
	}
}
</code></pre>
	</div>
	</div>
</div>
<div class="accordion-item">
	<h2 class="accordion-header">
		<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">2) Script complet "Find_AD_Name.ps1" : vérifier les disponibilités pour nommer des machines en récupérant de manière automatisée une liste d'états de machines depuis un intervalle de test.</button>
	</h2>
	<div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
	<div class="accordion-body">
<pre><code class="language-powershell" style="background-color: #000000 !important; color: #FFFFFF !important;">
#  ______________________________________________
# |                                              | #
# |               Find_AD_Name.ps1               | #
# |______________________________________________| #



# ============================ #
#          PARAMÈTRES          #
#
#	DESCRIPTION : paramètres d'appel du script.

$PARAM = @{};
Param (
	[string]$PARAM["MACHINE"],
	[int]$PARAM["DEBUT"],
	[int]$PARAM["FIN"]
)



# ============================= #
#          APPLICATION          #
#
#	DESCRIPTION : tout ce qui définit l'APP.

$APP = @{};
$APP["NAME"] = "Find_AD_Name";
$APP["DESCRIPTION"] = "TEST AU SEIN D'ACTIVE DIRECTORY L'EXISTENCE D'UNE MACHINE ET SA CONNECTIVITÉ EN LE METTANT EN PARALLELE DE SA DERNIERE CONNEXION, FOURNISSANT AINSI UN FICHIER CSV AVEC TROIS ETATS POSSIBLES D'UNE MACHINE A L'INSTANT T : EXISTANTE ET CONNECTE, EXISTANTE MAIS DECONNECTE, INEXISTANTE.";
$APP["VERSION"] = "1.0";
$APP["AUTHOR"] = "Frédéric Petit <contact@fredericpetit.fr>";
$APP["LICENSE"] = "CC BY-SA 4.0";



# ======================== #
#           USAGE          #
#
#	DESCRIPTION : comment utiliser l'APP.

function usage() {
Write-Host "

SYNOPSIS
	$($APP.NAME) - $($APP.DESCRIPTION)

EXAMPLE
	.\ad_check.ps1 -MACHINE S110202LAPN -DEBUT 0 -FIN 100

PARAMETERS
	-MACHINE
		Nom de machine à tester.
	-DEBUT
		Début d'intervalle à tester.
	-FIN
		Fin d'intervalle à tester.

OPTIONS
	x

SOURCES
	x

METADATA
	Author : $($APP.AUTHOR)
	Version : $($APP.VERSION)
	License : $($APP.LICENSE)

"
}



# ======================================== #
#          PARAMÈTRES (variables)          #
#
#	DESCRIPTION : mise en tableau des paramètres d'appel du script.

$PARAM = @{};
[string]$PARAM["MACHINE"] = $MACHINE;
[int]$PARAM["DEBUT"] = $DEBUT;
[int]$PARAM["FIN"] = $FIN;



# ========================= #
#          DEFAULT          #
#
#	DESCRIPTION : tout ce qui définit par défaut des paramètres de l'APP.

$DEFAULT = @{};
[string]$DEFAULT["MACHINE"] = "S110202LAPN";
[int]$DEFAULT["DEBUT"] = 0;
[int]$DEFAULT["FIN"] = 100;



# =========================== #
#          FUNCTIONS          #

# Test-Computer()
#	DESCRIPTION : test existence de machine et connectivité.
function Test-Computer($COMPUTER) {
	# Test : existence de la machine dans l'Active Directory.
	If (Get-ADComputer -Filter "Name -eq '$COMPUTER'") {
		# On calcule le nombre de jours depuis le dernier login.
		$LASTLOGON = Get-ADComputer -Filter "Name -eq '$COMPUTER'" -Properties LastLogon | Select-Object @{N='LastLogon'; E={[DateTime]::FromFileTime($_.LastLogon)}}, @{N='Last Logon Days'; E={$($(Get-Date) - $([DateTime]::FromFileTime($_.LastLogon))).Days}} | Select-Object -ExpandProperty "Last Logon Days";
		# Test : la différence de dernière connexion ramène au "Win32 epoch January 1, 1601", une vérification est nécessaire sur le poste.
		If ($LASTLOGON -gt 150000) {$LASTLOGON = "vérifier"};
		# Test : connectivité.
		If (Test-Connection $COMPUTER -Count 2 -Delay 2 -Quiet) {
			Write-Host " $COMPUTER existe et connecté !" -ForegroundColor DarkRed;
			$FICHIER = "$COMPUTER;connecte;$LASTLOGON";
		} Else {
			Write-Host " $COMPUTER existe mais non connecté." -ForegroundColor Yellow;
			$FICHIER = "$COMPUTER;deconnecte;$LASTLOGON";
		}
	} Else {
		Write-Host " $COMPUTER n'existe pas." -ForegroundColor DarkGreen;
		$FICHIER = "$COMPUTER;libre;";
	}
	$FICHIER | Add-Content -Path $PSScriptRoot\ad_check.csv;
}



# ======================= #
#          APPEL          #
#
#	DESCRIPTION : commence les appels d'instructions par l'APP.

Clear-Host;

# Test : valeurs par défaut.
If (!$($PARAM.MACHINE)) { [string]$PARAM["MACHINE"] = $($DEFAULT.MACHINE); }
If (!$($PARAM.DEBUT)) { [int]$PARAM["DEBUT"] = $($DEFAULT.DEBUT); }
If (!$($PARAM.FIN)) { [int]$PARAM["FIN"] = $($DEFAULT.FIN); }

# Réglage du fichier CSV.
$FICHIER = "";
Set-Content -Path $PSScriptRoot\ad_check.csv -Value 'Nom;Etat;Connexion';

# Boucle : suivant le nombre de machines.
For ($i=$PARAM.DEBUT; $i -lt $PARAM.FIN; $i++)  {
	If ($i -lt 10) {
		Write-Host "test de '$($PARAM.MACHINE)0$($i)'"; Test-Computer "$($PARAM.MACHINE)0$($i)";
	} Else {
		Write-Host "test de '$($PARAM.MACHINE)$($i)'"; Test-Computer "$($PARAM.MACHINE)$($i)";
	}
}
</code></pre>
	</div>
	</div>
</div>
</div>