---
title: Veille technologique
title_page: Veille technologique

permalink: /veille.html
layout: default
---

<h2>Sources tech généralistes favorites.</h2>
<div class="accordion">
	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Cliquer pour dérouler la liste.</button>
		</h2>
		<div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionSourcesMain">
			<div class="accordion-body bg-dark">
				<ul>
					<li>- <a target="_blank" href="https://www.bortzmeyer.org/" title="bortzmeyer.org">bortzmeyer.org</a></li>
					<li>- <a target="_blank" href="https://blog.ataxya.net/" title="blog.ataxya.net">blog.ataxya.net</a></li>
					<li>- <a target="_blank" href="https://www.alsacreations.com/" title="alsacreations.com">alsacreations.com</a></li>
					<li>- <a target="_blank" href="https://www.phoronix.com/" title="phoronix.com">phoronix.com</a></li>
					<li>- <a target="_blank" href="https://rougy.net/" title="rougy.net">rougy.net</a></li>
					<li>- <a target="_blank" href="https://distrowatch.com/" title="distrowatch.com">distrowatch.com</a></li>
					<li>- <a target="_blank" href="https://neptunet.fr/" title="neptunet.fr">neptunet.fr</a></li>
					<li>- <a target="_blank" href="https://www.it-connect.fr/" title="it-connect.fr">it-connect.fr</a></li>
					<li>- <a target="_blank" href="https://rdr-it.com/" title="rdr-it.com">rdr-it.com</a></li>
					<li>- <a target="_blank" href="https://www.developpez.com/" title="developpez.com">developpez.com</a></li>
					<li>- <a target="_blank" href="https://www.lemagit.fr/" title="lemagit.fr">lemagit.fr</a></li>
					<li>- <a target="_blank" href="https://sebsauvage.net/" title="sebsauvage.net">sebsauvage.net</a></li>
					<li>- <a target="_blank" href="https://linuxfr.org/" title="linuxfr.org">linuxfr.org</a></li>
					<li>- <a target="_blank" href="https://blog.stephane-robert.info/" title="blog.stephane-robert.info">blog.stephane-robert.info</a></li>
					<li>- <a target="_blank" href="https://www.grottedubarbu.fr/" title="grottedubarbu.fr">grottedubarbu.fr</a></li>
					<li>- <a target="_blank" href="https://www.fingerinthenet.com/" title="fingerinthenet.com">fingerinthenet.com</a></li>
					<li>- <a target="_blank" href="https://provya.net/" title="provya.net">provya.net</a></li>
					<li>- <a target="_blank" href="https://blog.debugo.fr/" title="blog.debugo.fr">blog.debugo.fr</a></li>
					<li>- <a target="_blank" href="https://infoloup.no-ip.org/" title="infoloup.no-ip.org">infoloup.no-ip.org</a></li>
					<li>- <a target="_blank" href="https://alexbacher.fr/" title="alexbacher.fr">alexbacher.fr</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<h2>Sources tech bureautique/astuces favorites.</h2>
<div class="accordion">
	<div class="accordion-item">
		<h2 class="accordion-header">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Cliquer pour dérouler la liste.</button>
		</h2>
		<div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionSourcesOffice">
			<div class="accordion-body bg-dark">
				<ul>
					<li>- <a target="_blank" href="https://www.tiktok.com/@excel.pirate" title="excel.pirate">excel.pirate</a></li>
					<li>- <a target="_blank" href="https://www.tiktok.com/@lingenieur.y" title="lingenieur.y">lingenieur.y</a></li>
					<li>- <a target="_blank" href="https://www.tiktok.com/@tutosoutils" title="tutosoutils">tutosoutils</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<h2>Flux RSS <i>lemagit.fr</i>.</h2>
<div class="wrapper-container" id="feed-lemagit"></div>

<h2>Flux RSS <i>developpez.com</i>.</h2>
<div class="wrapper-container" id="feed-developpez"></div>