<!DOCTYPE html>
<html lang="fr">
{% include head.html %}
<body>
	<!-- #################### nav #################### -->
	{% include header.html %}
	<!-- #################### main #################### -->
	<main>
	<div class="container py-4">
		<div id="splash__main" class="p-1 mb-1 bg-light rounded-3">
		<div class="container-fluid py-3">
		{% if page.title == "Index" %}
			<!-- cd -->
			<div id="cd">
			<span id="cd__mark">></span>
			<span id="cd__text">$ cd ~/fredericpetit.fr</span>
			<span id="cd__cursor"></span>
			</div>
		{% endif %}
		<!-- content -->
		<div id="content">
			<h1>{{ page.title_page }}</h1>
			{{ content }}
		</div>
		</div>
	</div>
	<!-- #################### footer #################### -->
	{% include footer.html %}
	</div>
	</main>
</body>
</html>