---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
	<h1><a href="{{ site.baseurl }}/{{ page.categories }}">{{ page.categories }}</a> > {{ page.title }}</h1>
	<span class="post-meta">{{ page.date | localize: '%-d %B %Y - %Hh:%M' }}</span>
	<div class="post-content">{{ content }}</div>
</article>